header {
  color: rgb(59, 59, 134);
  font-size: 10em;
  text-align: center;
}

footer {
  text-align: center;
}

/* class selector */
.fantasy {
  background-color: rgb(155, 244, 88);
}

.section {
  border: solid 1px rgb(241, 165, 203);

}

.horror {
  background-color: rgb(244, 88, 88);
}

.pixar {
  background-color: rgb(241, 255, 91);
}

.asian {
  background-color: rgb(124, 88, 244);
}

.crime {
  background-color: rgb(244, 179, 88);
}

.action {
  background-color: rgb(88, 202, 244);
}


#wheelContainer {
  display: flex;
  justify-content: center;
  background-color: lime;
<<<<<<< HEAD
  height: 50em;
=======
>>>>>>> bbfb7ed (change width)
}

#wheel {
  background-color: red;
<<<<<<< HEAD
  border-radius: 25px;
  width: 40%;
  text-align: center;
  border-radius: 50%;
=======
  border-radius: 25%;
  width: 30%;
  text-align: center;
  
>>>>>>> bbfb7ed (change width)
}

#buttonContainer {
  display: flex;
  justify-content: center;

}